@font-face {
  font-family: 'Karla';
  src: url('../assets/fonts/woff2/Karla-Regular.woff2') format('woff2');
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Karla';
  src: url('../assets/fonts/woff2/Karla-Bold.woff2') format('woff2');
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  font-size: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --fw-regular: 400;
  --fw-bold: 700;
  --font-family: 'Karla', sans-serif;
  --color-green-200: hsl(148, 38%, 91%);
  --color-green-600: hsl(169, 82%, 27%);
  --color-red: hsl(0, 66%, 54%);
  --color-white: hsl(0, 0%, 100%);
  --color-grey-500: hsl(186, 15%, 59%);
  --color-grey-900: hsl(187, 24%, 22%);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: var(--font-family);
  font-size: 1rem;
  font-weight: var(--fw-regular);
  letter-spacing: 0;

  background-color: var(--color-green-200);
  padding: 2rem 1rem;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.card {
  width: 100%;
  max-width: 24rem;
  padding: 1.5rem;
  border-radius: 1rem;
  background-color: var(--color-white);

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

header h1 {
  font-size: 2rem;
  font-weight: var(--fw-bold);
  letter-spacing: -1px;
  color: var(--color-grey-900);
}

.card form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.input-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input-group label,
fieldset legend,
.consent-group label {
  line-height: 1.5;
  color: var(--color-grey-900);
  position: relative;
  align-self: flex-start;
}

.input-group label::after,
fieldset legend::after {
  content: '*';
  position: absolute;
  top: 0;
  right: -0.875rem;
  color: var(--color-green-600);
}

.input-group input,
.input-group textarea {
  width: 100%;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--color-grey-500);
  background-color: var(--color-white);

  font-family: inherit;
  font-size: 1.125rem;
  line-height: 1.5;
  color: var(--color-grey-900);
}

.input-group.error input,
.input-group.error textarea {
  border-color: var(--color-red);
}

.error-message {
  font-size: 1rem;
  line-height: 1.5;
  color: var(--color-red);
  display: block;
}

.error-message:empty {
  display: none;
}

fieldset {
  border: none;
}

fieldset legend {
  margin-bottom: 1rem;
}

.radio-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.radio-group label {
  width: 100%;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--color-grey-500);

  display: flex;
  align-items: center;
  gap: 0.75rem;

  font-size: 1.125rem;
  line-height: 1.5;
  color: var(--color-grey-900);

  cursor: pointer;
}

input[type='radio'],
input[type='checkbox'] {
  appearance: none;
  background-color: var(--color-white);
  font: inherit;

  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
}

input[type='checkbox'] {
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 0;
  flex-shrink: 0;
}

input[type='radio']:not(:checked),
input[type='checkbox']:not(:checked) {
  border: 1px solid var(--color-grey-500);
}

input[type='radio']:checked {
  background: url('../assets/images/icon-radio-selected.svg') no-repeat center;
}

input[type='checkbox']:checked {
  background: url('../assets/images/icon-checkbox-check.svg') no-repeat center;
}

.input-group textarea {
  height: 15rem;
  resize: none;
}

.consent-group {
  margin-block: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.consent-group label {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

form button {
  width: 100%;
  padding: 1rem 2.5rem;
  border-radius: 0.5rem;
  border: none;
  background-color: var(--color-green-600);

  font-family: inherit;
  font-size: 1.125rem;
  font-weight: var(--fw-bold);
  line-height: 1.5;
  color: var(--color-white);
  cursor: pointer;
}

.input-group input:hover,
.input-group textarea:hover,
.radio-group label:hover {
  border-color: var(--color-green-600);
}

form button:hover {
  background-color: color-mix(in srgb, var(--color-green-600) 100%, #000 50%);
}

.input-group input:focus,
.input-group textarea:focus {
  border-color: var(--color-green-600);
  outline: 2px solid var(--color-green-600);
  outline-offset: 2px;
}

.radio-group label:has(input[type='radio']:checked) {
  background-color: var(--color-green-200);
  border-color: var(--color-green-600);
  outline: 2px solid var(--color-green-600);
  outline-offset: 2px;
}

dialog {
  position: fixed;
  top: 1.5rem;
  left: 50%;
  transform: translateX(-50%) translateY(-1rem);

  border: none;
  border-radius: 0.75rem;
  padding: 1.5rem;
  background-color: var(--color-grey-900);

  width: calc(100% - 1.5rem - 1.5rem);
  max-width: 30rem;

  opacity: 0;
  transition:
    opacity 0.3s,
    transform 0.3s,
    overlay 0.3s allow-discrete,
    display 0.3s allow-discrete;
}

dialog:open {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}

.success-message {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.success-message header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.success-message header h2 {
  font-size: 1.125rem;
  font-weight: var(--fw-bold);
  line-height: 1.5;
  color: var(--color-white);
}

.success-message p {
  line-height: 1.5;
  color: var(--color-green-200);
}

@media screen and (min-width: 768px) {
  body {
    padding: 2.5rem;
  }

  .card {
    max-width: 45rem;
    padding: 2.5rem;
  }

  .form-group:nth-child(1) {
    flex-direction: row;
    gap: 1rem;
  }

  .radio-group {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .radio-group label {
    flex: 1;
  }

  .radio-group .error-message {
    flex-basis: 100%;
  }

  .input-group textarea {
    height: 8.25rem;
  }
}

@media screen and (min-width: 1280px) {
  .card {
    max-width: 48rem;
  }

  .input-group textarea {
    height: 6.625rem;
  }
}
